{% extends "home.html"%}
{% block title %}Care instructions | Arts Experience{% endblock %}
{% block content %}
<div class="container">
    <h1 class="mt-5 ">🧾 Tattoo Care Instructions</h1>
    <h4 class="mt-5 mb-4">Before Your Appointment</h4>
    <p>To ensure a smooth and comfortable tattoo experience, please follow these guidelines before your session:</p>
    <ul>
        <li>Eat a <strong>full meal</strong> beforehand to maintain your energy, especially if it’s your first time.</li>
        <li><strong>Be confident</strong> in your design choice. If you have doubts or need changes, please reach out ahead of time.</li>
        <li><strong>Minors must present a notarized consent form</strong>. This form must be signed and stamped before the appointment.</li>
        <li>For <strong>longer sessions</strong>, consider bringing:
            <ul style="margin-top: 0.5rem; list-style-type: circle; padding-left: 1.5rem;">
              <li>A pillow if you'll be laying down for a while.</li>
              <li>Snacks and water to stay hydrated and comfortable.</li>
              <li>A friend for support (optional, and only for shorter appointments).</li>
            </ul>
        </li>
        <li>Avoid direct sunlight on the tattoo for at least two weeks.</li>
    </ul>


    <h4 class="mt-5 mb-4">Tattoo Aftercare</h4>
    <ul>
        <li>Remove the plastic wrap after 1 hour.</li>
        <li>Wash the tattoo gently with antibacterial soap (e.g., Dial soap).</li>
        <li>Wash 2–3 times daily during the 3-week healing period.</li>
        <li>Apply a thin layer of Aquaphor after each wash. Avoid overapplying.</li>
        <li>Keep your tattoo out of direct sunlight while healing.</li>
        <li>Do not scratch, pick, or scrub your tattoo.</li>
        <li>Avoid swimming in pools, lakes, hot tubs, or any water bodies.</li>
        <li>Short showers are fine; avoid soaking the tattoo in baths.</li>
    </ul>

    <div class="footer-note">
        <p><i class="fa-solid fa-envelope mx-2"></i> If you have questions or concerns, feel free to <strong><a href="mailto:admin@experiencesart.com">contact us directly</a></strong>.</p>
    </div>
    



</div>
{% endblock %}