<!DOCTYPE html>
{% extends "home.html" %}

{% block title %}Booking |Arts Experience{% endblock %}

{% block content %}
    <!-- cards -->
    <h1 class="text-center mb-4">Sample Art Work</h1>
    <div class="card-layout">
        <!-- card 1 -->
        <div class="card" style="width: 22rem;">
            <img src="{{ url_for('static', filename='images/4hrs tap out session-400.jpg')}}" alt="image of 4hrs tap out session-400">
            <div class="card-body">
                <h5 class="card-title">4hrs tap out session</h5>
            </div>
        </div>
        <!-- card 2 -->
        <div class="card" style="width: 22rem;">
            <img src="{{ url_for('static', filename='images/5hrs Tap out session-600.jpg')}}" alt="image of 5hrs Tap out session-600">
            <div class="card-body">
                <h5 class="card-title">5hrs Tap out session</h5>
            </div>
        </div>
        <!-- card 3 -->
        <div class="card" style="width: 22rem;">
            <img src="{{ url_for('static', filename='images/6hrs tap out session-700.jpg')}}" alt="image of 6hrs tap out session">
            <div class="card-body">
                <h5 class="card-title">6hrs tap out session</h5>
            </div>
        </div>
        <!-- card 4 -->
        <div class="card" style="width: 22rem;">
            <img src="{{ url_for('static', filename='images/Collar bone to Elbow-300.jpg')}}" alt="image of Collar bone to Elbow">
            <div class="card-body">
                <h5 class="card-title">Collar bone to Elbow</h5>
            </div>
        </div>
        <!-- card 5 -->
        <div class="card" style="width: 22rem;">
            <img src="{{ url_for('static', filename='images/Forearm outer sleeve-250.jpg')}}" alt="Forearm outer sleeve">
            <div class="card-body">
                <h5 class="card-title">Forearm outer sleeve</h5>
            </div>
        </div>
        <!-- card 6 -->
        <div class="card" style="width: 22rem;">
            <img src="{{ url_for('static', filename='images/Forearm quarter sleeve-250.jpg')}}" alt="Forearm quarter sleeve">
            <div class="card-body">
                <h5 class="card-title">Forearm quarter sleeve</h5>
            </div>
        </div>
        <!-- card 7 -->
        <div class="card" style="width: 22rem;">
            <img src="{{ url_for('static', filename='images/Full chest-500.jpg')}}" alt="Full chest">
            <div class="card-body">
                <h5 class="card-title">Full chest</h5>
            </div>
        </div>
        <!-- card 8 -->
        <div class="card" style="width: 22rem;">
            <img src="{{ url_for('static', filename='images/Full outer arm Half sleeve-500.jpg')}}" alt="Full outer arm Half sleeve">
            <div class="card-body">
                <h5 class="card-title">Full outer arm Half sleeve</h5>
            </div>
        </div>
        <!-- card 9 -->
        <div class="card" style="width: 22rem;">
            <img src="{{ url_for('static', filename='images/Full outer-inner leg piece-800.jpg')}}" alt="image of Full outer-inner leg piece">
            <div class="card-body">
                <h5 class="card-title">Full outer/inner leg piece</h5>
            </div>
        </div>
        <!-- card 10 -->
        <div class="card" style="width: 22rem;">
            <img src="{{ url_for('static', filename='images/Fullarm-inner arm Half sleeve-500.jpg')}}" alt="image of Full/inner arm Half sleeve">
            <div class="card-body">
                <h5 class="card-title">Full/inner arm Half sleeve</h5>
            </div>
        </div>
        <!-- card 11 -->
        <div class="card" style="width: 22rem;">
            <img src="{{ url_for('static', filename='images/Half chest piece-250.jpg')}}" alt="image of Half chest piece">
            <div class="card-body">
                <h5 class="card-title">Half chest piece</h5>
            </div>
        </div>
        <!-- card 12 -->
        <div class="card" style="width: 22rem;">
            <img src="{{ url_for('static', filename='images/Hand piece-200.jpg')}}" alt="image of Hand piece">
            <div class="card-body">
                <h5 class="card-title">Hand piece</h5>
            </div>
        </div>
        <!-- card 13 -->
        <div class="card" style="width: 22rem;">
            <img src="{{ url_for('static', filename='images/Leg foot-150.jpg')}}" alt="image of Leg foot">
            <div class="card-body">
                <h5 class="card-title">Leg foot</h5>
            </div>
        </div>
        <!-- card 14 -->
        <div class="card" style="width: 22rem;">
            <img src="{{ url_for('static', filename='images/Leg piece-300.jpg')}}" alt="image of Leg piece">
            <div class="card-body">
                <h5 class="card-title">Leg piece</h5>
            </div>
        </div>
        <!-- card 15 -->
        <div class="card" style="width: 22rem;">
            <img src="{{ url_for('static', filename='images/other sizes-150.jpg')}}" alt="image of other sizes">
            <div class="card-body">
                <h5 class="card-title">other sizes</h5>
            </div>
        </div>
        <!-- card 16 -->
        <div class="card" style="width: 22rem;">
            <img src="{{ url_for('static', filename='images/Portrait-300.jpg')}}" alt="Portrait">
            <div class="card-body">
                <h5 class="card-title">Portrait</h5>
            </div>
        </div>
        <!-- card 17 -->
        <div class="card" style="width: 22rem;">
            <img src="{{ url_for('static', filename='images/Spine tattoo-150.jpg')}}" alt="image of Spine tattoo">
            <div class="card-body">
                <h5 class="card-title">Spine tattoo</h5>
            </div>
        </div>
        <!-- card 18 -->
        <div class="card" style="width: 22rem;">
            <img src="{{ url_for('static', filename='images/Thigh piece-300.jpg')}}" alt="Thigh piece">
            <div class="card-body">
                <h5 class="card-title">Thigh piece</h5>
            </div>
        </div>
        <!-- card 19 -->
        <div class="card" style="width: 22rem;">
            <img src="{{ url_for('static', filename='images/Upper arm quarter sleeve-300.jpg')}}" alt="Upper arm quarter sleeve">
            <div class="card-body">
                <h5 class="card-title">Upperarm quarter sleeve</h5>
            </div>
        </div>
    </div>
{% endblock %}
