{% extends "home.html"%}
{% block title %}Tatto Prices | Arts Experience{% endblock %}
{% block content %}
<div class="container">
    <h4 class="mb-4 text-center"> <i class="fa-solid fa-calendar-check px-2"></i> Select Tattoo For Appointment</h4>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Full Chest</h6>
            <p>4hrs @ $450.00</p>
        </div>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Book</button>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div>
            <h6>Spine Tattoo</h6>
            <p>2 hrs @ $250.00</p>
        </div>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Book</button>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Foot Tattoo</h6>
            <p>1-2 hrs @ $250.00</p>
        </div>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Book</button>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Tapout Session</h6>
            <p>6hrs @ $600.00</p>
        </div>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Book</button>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Name Tattoo</h6>
            <p>45 mins @ $80.00</p>
        </div>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Book</button>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Leg Sleeve</h6>
            <p>6hrs @ $800.00</p>
        </div>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Book</button>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Small Tattoo</h6>
            <p>1hr @ $125.00</p>
        </div>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Book</button>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Palm Size</h6>
            <p>2hr @ $200.00</p>
        </div>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Book</button>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Hand Tattoo</h6>
            <p>1-2 hrs @ $300.00</p>
        </div>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Book</button>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Portraits</h6>
            <p>2-3 hrs @ $450.00</p>
        </div>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Book</button>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Quarter Sleeve</h6>
            <p>2-3 hrs @ $350.00</p>
        </div>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Book</button>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Half Sleeve</h6>
            <p>4hrs @ $400.00</p>
        </div>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Book</button>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Large Thigh Tattoo</h6>
            <p>4-5 hrs @ $600.00</p>
        </div>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Book</button>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Full Sleeve</h6>
            <p>5hrs @ $700.00</p>
        </div>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Book</button>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Back Piece</h6>
            <p>3hrs @ $400.00</p>
        </div>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Book</button>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Neck Piece</h6>
            <p>2hrs @ $250.00</p>
        </div>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Book</button>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Donation</h6>
            <p>@ $5.00</p>
        </div>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Book</button>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Consultation</h6>
            <p>@ $20.00</p>
        </div>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Book</button>
    </div>
    <div class="price-container rounded shadow p-4 mb-4 d-flex justify-content-between align-items-center">
        <div class="fl">
            <h6>Aftercare</h6>
            <p>30mins @ $30.00</p>
        </div>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Book</button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Checkout Payment Option</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="gap-2 mt-4 d-flex flex-column">
                    <!-- Card Payment Button -->
                    <div class="d-grid mb-1">
                        <a href="{{ paypal_booking_link }}" style="text-decoration: none;"><button class="btn d-flex justify-content-center align-items-center w-100 py-3"
                            style="background-color: #ffc439; color: rgb(69, 168, 226); font-weight: bold; border: none; font-size: x-large; ">
                            <i><span style="color: rgb(8, 8, 151);">Pay</span>Pal</i>
                        </button></a>
                    </div>
                    <div class="d-flex align-items-center my-1">
                        <hr class="flex-grow-1 border-top border-secondary" />
                        <span class="mx-2 text-muted small">or pay with card</span>
                        <hr class="flex-grow-1 border-top border-secondary" />
                    </div>

                    <!-- Card Payment Button -->
                    <div class="d-grid mb-4">
                        <a href="{{ card_booking_link }}" style="text-decoration: none;"><button class="btn btn-dark d-flex justify-content-center align-items-center gap-2 w-100 py-3"  style="font-size: larger;">
<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAACXBIWXMAAAsTAAALEwEAmpwYAAABAUlEQVR4nO2XTWoCQRCF21xBc5LcwHiGBPeJHsGlLlx4q1zivVFm4VSDLsZLVGhxVPyZIIPdQ6gPalfQr7+moco5wzCMuOR5/roGxh6YRK7RdrXq1Ybz5ECAnZCapLA/+/2uuaTheAp502RQXDV58kNVOy4SqtpZk5/HkFn2ddUkwLRqiBmuQlVfzixO3SUFOasaXCLkcH7I8mdAv1y+hU8Ts+SRgEL+pPooxb8I6Nv+xCkQC9gQM9gUM9gUM9gUM/hUg60fWP3ZyB/G79gjfwEMa0f+sKi0Ymkiy02WdW/eJKx8iUOWAvRrdR9MfgswL8hFjBJgHp71rjnDMAz3NH4BT9/OufAqG6QAAAAASUVORK5CYII=" alt="bank-card-back-side--v1">
                            Debit or Credit Card
                        </button></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}